/*/////////!!!Do No Edit!!!/////////*/

/*////////////////////////////Basic (home) page layout//////////*/
/*1. global styles*/
/*2. Typography*/
/*3. Layout-Nav-bar*/
/*3.1 Layout-main*/
/*3.2 Layout - Tiles*/
/*3.3 Layout - Footer*/
/*4. Media Queries*/

/*Colors:*/

/*Default background: #C8B7D9;*/
/*radiant background: linear-gradient(nulldeg,rgba(200, 183, 217, 1) 0%, rgba(237, 26, 56, 1) 100%);*/

/*logo purple: #C8B7D9*/
/*logo red: #ed1a38*/
/*nav bar: black*/
/*nav-bar text logo purple hover:logo red*/

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/*------------------------ 1. global styles -----------------------*/
:root {
    --primary-logo-color: #C8B7D9;
    --secondary-logo-color: #ed1a38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em;
}

@media screen and (max-width: 576px) {
    .inner-container {
        padding: 0.5em;
    }
}

header,
footer {
    background-color: black;
    color: var(--primary-logo-color)
}

main {
    background: #C8B7D9;
    background: linear-gradient(90deg,rgba(200, 183, 217, 1) 0%, rgba(237, 26, 56, 1) 100%);
}

ul {
    list-style: none;
    display: flex;
    font-size: 40px;
}

@media screen and (max-width: 576px) {
    ul {
        font-size: 20px;
    }
}

.logo {
    border-radius: 45%;
    margin: 1em;
}

@media screen and (max-width: 576px) {
    .logo {
        width: 50px;
        height: auto;
    }
}

/*---------------------- 2. Typography ---------------------*/
button, input {
    font-family: chewy,sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: jua, sans-serif;
    font-size: 40px;
    font-weight: 800;
}

@media screen and (max-width: 576px) {
    h2, h3, h4, h5, h6 {
        font-size: 20px;
        line-height: 0.8;
        margin: 5px;
    }
}

h1 {
    font-family: jua, sans-serif;
    font-size: 80px;
    line-height: 1.2;
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 40px;
        line-height: 0.9;
        margin: 5px;
    }
}

p {
    margin: 20px 0;
    line-height: 1.2;
    font-family: zain,sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 576px) {
    p {
        font-size: 12px;
        line-height: 0.9;
        margin: 5px 0;
    }
}

a:link,
a:visited{
    color: var(--primary-logo-color);
    text-decoration: none;
    font-family: chewy,sans-serif;
    -webkit-text-stroke: 0.5px black;
    font-size: 50px;
}

a:active{
    color: var(--secondary-logo-color);
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    a:link, a:visited {font-size: 20px;}
}

@media (hover: hover){
a:hover {
    color: var(--secondary-logo-color);
    text-transform: uppercase;
}
}
/*---------------------- 3. Layout-Nav-bar ---------------------*/

.list-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-shrink: 2;
    padding: 0 0.5em;
    gap: 1em;
}

@media screen and (max-width: 576px) {
    .list-navigation-bar {
        font-size: 20px;
        gap: 0.5em;
    }
}

/* ------------------- 3.1 Layout-main ---------------------------*/
.page-intro a {
    font-size: 30px;
}

@media screen and (max-width: 576px) {
    .page-intro a {
        font-size: 15px;
    }
}

/* ------------------- 3.2 Layout - Tiles ---------------------------*/
.navigation-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1.5rem;

    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 576px) {
    .navigation-tiles {
        gap: 1rem;
    }
}

.tiles {
    flex: 0 0 300px;
    max-width: 300px;
    text-align: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: var(--primary-logo-color) solid 4px;
    padding: 1em;
    box-shadow: 1px 1px gray;
    overflow-wrap: break-word;
}

.tiles h1,
.tiles h2,
.tiles h3,
.tiles p {
    word-break: break-word;
    overflow-wrap: break-word;
}

@media screen and (max-width: 576px) {
    .tiles {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

.tiles-img-wrapper {
    max-width: 150px;
    width: 100%;
}

.tiles-img-wrapper img{
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 576px) {
    .tiles-img-wrapper {
        max-width: 80px;
    }
}

/* ------------------- 3.3 Layout - Footer ---------------------------*/

.socials {
    align-items: flex-start;
}

.socials-wrapper {
    display: flex;
    padding: 0.5em;
    align-items: center;
    font-size: 20px;
}

.socials-wrapper a {
    font-size: 30px;
}

@media screen and (max-width: 576px) {
    .socials-wrapper a {
        font-size: 15px;
    }
}

.footer-map-wrapper {
    align-items: flex-end;
}

/* ------------------- 3.4 Layout - transport-list ---------------------------*/

.transport-list {
    list-style: square;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
}

.workshop-list {
    list-style-type: circle;
    font-family: zain,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    list-style-position: inside;
    padding-left: 1em;
    margin: 0;
}

@media screen and (max-width: 576px) {
    .workshop-list {
        font-size: 12px;
        list-style: circle;
    }
}

.workshop-list li {
    font-size: 20px;
    list-style-type: circle;
}

@media screen and (max-width: 576px) {
    .workshop-list li {
        font-size: 12px;
    }
}