/*/////////!!!Do No Edit!!!/////////*/

/*////////////////////////////Basic (home) page layout//////////*/
/*1. global styles*/
/*2. Typography*/
/*3. Layout-Nav-bar*/
/*3.1 Layout-main*/
/*3.2 Layout - Tiles*/
/*3.3 Layout - Footer*/
/*4. Media Queries*/

/*Colors:*/

/*Default background: #C8B7D9;*/
/*radiant background: linear-gradient(nulldeg,rgba(200, 183, 217, 1) 0%, rgba(237, 26, 56, 1) 100%);*/

/*logo purple: #C8B7D9*/
/*logo red: #ed1a38*/
/*nav bar: black*/
/*nav-bar text logo purple hover:logo red*/

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/*------------------------ 1. global styles -----------------------*/
:root {
    --primary-logo-color: #C8B7D9;
    --secondary-logo-color: #ed1a38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em;
}

header,
footer {
    background-color: black;
    color: var(--primary-logo-color)
}

main {
    background: #C8B7D9;
    background: linear-gradient(90deg,rgba(200, 183, 217, 1) 0%, rgba(237, 26, 56, 1) 100%);
}

ul {
    list-style: none;
    display: flex;
    font-size: 40px;
}

.logo {
    border-radius: 45%;
    margin: 1em;
}

/*---------------------- 2. Typography ---------------------*/
button, input {
    font-family: chewy,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: jua, sans-serif;
    font-size: 40px;
    font-weight: 800;
}

h1 {
    font-size: 80px;
    line-height: 1.2;
}

p {
    margin: 20px 0;
    line-height: 1.2;
    font-family: zain,sans-serif;
    font-size: 20px;
}

a:link,
a:visited{
    color: var(--primary-logo-color);
    text-decoration: none;
    font-family: chewy,sans-serif;
    -webkit-text-stroke: 0.5px black;
    font-size: 50px;
}

a:hover {
    color: var(--secondary-logo-color);
    text-transform: uppercase;
}

/*---------------------- 3. Layout-Nav-bar ---------------------*/

.list-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-shrink: 2;
    padding: 0 0.5em;
    gap: 1.5em;
}

/* ------------------- 3.1 Layout-main ---------------------------*/
.page-intro a {
    font-size: 30px;
}

/* ------------------- 3.2 Layout - Tiles ---------------------------*/
.navigation-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2em;
    gap: 0.5em;
}

.tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20em;
    border: var(--primary-logo-color) solid 4px;
    padding: 1em;
    box-shadow: 1px 1px gray;
    flex-shrink: 1;
}

/* ------------------- 3.3 Layout - Footer ---------------------------*/

.socials {
    align-items: flex-start;
}

.socials-wrapper {
    display: flex;
    padding: 0.5em;
    align-items: center;
    font-size: 20px;
}

.socials-wrapper a {
    font-size: 30px;
}

.footer-map-wrapper {
    align-items: flex-end;
}
